---
version: "2"

services:
    {{service_name}}:
        image: "{{service_image}}"
        restart: "{{service_restart}}"
{% if container_environment|length > 0 %}
        environment:
{% endif %}
{% for key, value in container_environment.items() %}
          {{key}}: {{value}}
{% endfor %}
{% if prom_port|length > 0 or service_port|length > 0 %}
        ports:
{% endif %}
{% if prom_port|length > 0  %}            
            - "{{prom_port}}:{{prom_port}}"
{% endif %}
{% if service_port|length > 0 %}
            - "{{service_port}}:{{service_port}}"
{% endif %}

